/*
* ==========================================================
*     Categories SECTION
* ==========================================================
*/
section.categories .owl-carousel .owl-stage-outer {
  padding: 70px 0 50px;
}

section.categories .item-holder {
  padding-right: 5px;
  padding-left: 5px;
}


section.categories .item {
  -webkit-box-shadow: 5.665px 5.429px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5.665px 5.429px 15px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 260px;
  height: 188px;
  margin: 0;
  padding: 20px;
  
}

section.categories .item p {
  line-height: 1.8rem;
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #656565;
}


/* categories Media Query ------------------------- */
@media (max-width: 1199px) {
  section.categories .item {
    -webkit-box-shadow: -5.665px 9.429px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -5.665px 9.429px 25px 0px rgba(0, 0, 0, 0.2);
    padding: 60px 40px 40px;
  }
  section.categories .item .avatar {
    position: absolute;
    top: 0;
    left: 50%;
  }
}


/* admin ------------------ */

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */



/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-top: 0;
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


/*
* Profile Links
*/

a.profile-link,
a.profile-link:hover,
a.profile-link:visited,
a.profile-link:active{
  text-decoration: none;
  color: #212529;
}


/*
* Jobs list
*/

section#job-list{
  padding-top: 50px;
}


/*utils*/
.pt-50{
  padding-top: 50px;
}

.pt-30{
  padding-top: 30px;
}

.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.profile-img{
  max-width: 75px;
  display: block;
  margin: auto;
  margin-top: -60px;
}